.App {
  text-align: center;
  margin-left: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  width: 50%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
